@model CadastroDeClientes.Models.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Exclusão de Cliente";
}

<div class="col-md-6 offset-md-3">
    <form asp-action="Delete">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="PrimeiroNome" class="control-label"></label>
                <input asp-for="PrimeiroNome" class="form-control" type="text" placeholder="PrimeiroNome" readonly />
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Sobrenome" class="control-label"></label>
                <input asp-for="Sobrenome" class="form-control" type="text" placeholder="Sobrenome" readonly />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" type="text" placeholder="Cpf" readonly />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" type="text" placeholder="Endereco" readonly />
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" type="text" placeholder="Bairro" readonly />
            </div>
            <div class="form-group col-md-2">
                <label asp-for="EnderecoNumero" class="control-label"></label>
                <input asp-for="EnderecoNumero" class="form-control" type="text" placeholder="EnderecoNumero" readonly />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" type="text" placeholder="Bairro" readonly />
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" type="text" placeholder="Estado" readonly />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" type="text" placeholder="Cep" readonly />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="TelefoneDDD" class="control-label"></label>
                <input asp-for="TelefoneDDD" class="form-control" type="text" placeholder="TelefoneDDD" readonly />
            </div>
            <div class="form-group col-md-5">
                <label asp-for="TelefoneNumero" class="control-label"></label>
                <input asp-for="TelefoneNumero" class="form-control" type="text" placeholder="TelefoneNumero" readonly />
            </div>
            <div class="form-group col-md-5">
                <label asp-for="DataDeNascimento" class="control-label"></label>
                <input asp-for="DataDeNascimento" class="form-control" type="text" placeholder="DataDeNascimento" readonly />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" type="text" placeholder="Email" readonly />
        </div>
    </form>
</div>

<div class="form-group col-md-6 offset-md-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick='history.go(-1)'>
            Voltar
        </button>
    </form>
</div>
